<div class="container-fluid cadastro-container">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12 box-shadow">
      <form novalidate (ngSubmit)="adicionarConta()" [formGroup]="cadastroForm">
        <h2 class="my-5">Preencha o cadastro com seus dados.</h2>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label class="control-label">Nome</label>
              <input class="form-control" id="nome" type="text" placeholder="" formControlName="nome"
                [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched }" />
              <div class="control-errors" *ngIf="f.nome.errors && f.nome.touched">
                <span class="text-danger" *ngIf="f.nome.errors.required"> Campo obrigatório</span>
                <span class="text-danger" *ngIf="!f.nome.errors.required && f.nome.errors.fullName"> Informe seu
                  nome
                  completo</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
              <label class="control-label">CPF</label>
              <input class="form-control" mask="000.000.000-00" id="cpf" type="tel" placeholder="" formControlName="cpf"
                [ngClass]="{'is-invalid': f.cpf.errors && f.cpf.touched }" />
              <div class="control-errors" *ngIf="f.cpf.errors && f.cpf.touched">
                <span class="text-danger" *ngIf="f.cpf.errors.required"> Campo obrigatório</span>
                <span class="text-danger" *ngIf="!f.cpf.errors.required && f.cpf.errors.cpfNotValid"> Digite um cpf válido</span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-group">
              <label class="control-label">Celular</label>
              <input class="form-control" mask="(00) 00000-0000" id="celular" type="tel" placeholder=""
                formControlName="celular" [ngClass]="{'is-invalid': f.celular.errors && f.celular.touched }" />
              <div class="control-errors" *ngIf="f.celular.errors && f.celular.touched">
                <span class="text-danger" *ngIf="f.celular.errors.required"> Campo obrigatório</span>
                <span class="text-danger" *ngIf="!f.celular.errors.required && f.celular.errors.cellPhone"> Digite um celular válido</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
              <label class="control-label">E-mail</label>
              <input class="form-control" id="email" type="email" placeholder="" formControlName="email"
                [ngClass]="{'is-invalid': f.email.errors && f.email.touched }" />
              <div class="control-errors" *ngIf="f.email.errors && f.email.touched">
                <span class="text-danger" *ngIf="f.email.errors.required"> Campo obrigatório</span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-group">
              <label class="control-label">Data de nascimento</label>
              <input class="form-control" mask="00/00/0000" id="dataNascimento" type="tel" placeholder="" formControlName="dataNascimento"
                [ngClass]="{'is-invalid': f.dataNascimento.errors && f.dataNascimento.touched }" />
              <div class="control-errors" *ngIf="f.dataNascimento.errors && f.dataNascimento.touched">
                <span class="text-danger" *ngIf="f.dataNascimento.errors.required"> Campo obrigatório</span>
                <span class="text-danger" *ngIf="!f.dataNascimento.errors.required && f.dataNascimento.errors.validateDate"> Digite uma data válida</span>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
              <label class="control-label">Senha</label>
              <input class="form-control" id="senha" type="password" placeholder="" formControlName="senha"
                [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched }" />
              <div class="control-errors" *ngIf="f.senha.errors && f.senha.touched">
                <span class="text-danger" *ngIf="f.senha.errors.required"> Campo obrigatório</span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
              <label class="control-label">Confirme sua senha</label>
              <input class="form-control" id="confirmaSenha" type="password" placeholder=""
                formControlName="confirmaSenha"
                [ngClass]="{'is-invalid': f.confirmaSenha.errors && f.confirmaSenha.touched }" />
              <div class="control-errors" *ngIf="f.confirmaSenha.errors && f.confirmaSenha.touched">
                <span class="text-danger" *ngIf="f.confirmaSenha.errors.required"> Campo obrigatório</span>
                <span class="text-danger" *ngIf="!f.confirmaSenha.errors.required && f.confirmaSenha.errors.equalTo">
                  Senhas não conferem</span>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-check my-2">
              <input class="form-check-input" type="checkbox" id="aceiteTermo" formControlName="aceiteTermo" required>
              <label class="form-check-label" for="aceiteTermo">
                Aceito os termos
              </label>
              <label class="terms" *ngIf="f.aceiteTermo.errors && f.aceiteTermo.touched">
                <span class="text-danger" *ngIf="f.aceiteTermo.errors.required">é preciso
                  aceitar os termos</span>
              </label>
            </div>
            <div class="form-check my-2">
              <input class="form-check-input" type="checkbox" id="aceiteNewsletter" formControlName="aceiteNewsletter">
              <label class="form-check-label" for="aceiteNewsletter">
                Desejo receber mais informações sobre investimentos via SMS ou e-mail
              </label>
            </div>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-12">
            <button class="btn btn-block btn-indra" type="submit">Abrir conta</button>
          </div>
        </div>

      </form>
    </div>

    <div class="col-6 box-img">
      <img class="box-shadow" src="../../../assets/img1.png" alt="bank">
    </div>

  </div>
</div>
</div>
