@import '../../../scss/index.scss';

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
  background-color: $indra-grey;
  color: $indra-white;
}

@include desktop {
  .footer {
    position: fixed
  }
}
