.btn-indra {
  color: #ffffff;
  background-color: #EC7000;
  border-color: #EC7000;
}

.btn-indra:hover,
.btn-indra:focus,
.btn-indra:active,
.btn-indra.active,
.open .dropdown-toggle.btn-indra {
  color: #ffffff;
  background-color: #D1701B;
  border-color: #EC7000;
}

.btn-indra:active,
.btn-indra.active,
.open .dropdown-toggle.btn-indra {
  background-image: none;
}

.btn-indra.disabled,
.btn-indra[disabled],
fieldset[disabled] .btn-indra,
.btn-indra.disabled:hover,
.btn-indra[disabled]:hover,
fieldset[disabled] .btn-indra:hover,
.btn-indra.disabled:focus,
.btn-indra[disabled]:focus,
fieldset[disabled] .btn-indra:focus,
.btn-indra.disabled:active,
.btn-indra[disabled]:active,
fieldset[disabled] .btn-indra:active,
.btn-indra.disabled.active,
.btn-indra[disabled].active,
fieldset[disabled] .btn-indra.active {
  background-color: #EC7000;
  border-color: #EC7000;
}

.btn-indra .badge {
  color: #EC7000;
  background-color: #ffffff;
}


.btn-indra-outline {
  color: #EC7000;
  background-color: #FFFFFF;
  border-color: #EC7000;
}

.btn-indra-outline:hover,
.btn-indra-outline:focus,
.btn-indra-outline:active,
.btn-indra-outline.active,
.open .dropdown-toggle.btn-indra-outline {
  color: #EC7000;
  background-color: #F2F2F2;
  border-color: #EC7000;
}

.btn-indra-outline:active,
.btn-indra-outline.active,
.open .dropdown-toggle.btn-indra-outline {
  background-image: none;
}

.btn-indra-outline.disabled,
.btn-indra-outline[disabled],
fieldset[disabled] .btn-indra-outline,
.btn-indra-outline.disabled:hover,
.btn-indra-outline[disabled]:hover,
fieldset[disabled] .btn-indra-outline:hover,
.btn-indra-outline.disabled:focus,
.btn-indra-outline[disabled]:focus,
fieldset[disabled] .btn-indra-outline:focus,
.btn-indra-outline.disabled:active,
.btn-indra-outline[disabled]:active,
fieldset[disabled] .btn-indra-outline:active,
.btn-indra-outline.disabled.active,
.btn-indra-outline[disabled].active,
fieldset[disabled] .btn-indra-outline.active {
  background-color: #FFFFFF;
  border-color: #EC7000;
}

.btn-indra-outline .badge {
  color: #FFFFFF;
  background-color: #EC7000;
}
