$fontFamily:  'Roboto', sans-serif;

$indra-primary: #EC7000;
$indra-light-grey: #EFE9E5;
$indra-grey: #605751;
$indra-white: #FFFFFF;

$fontBold: 700;
$fontRegular: 400;
$fontThin: 300;

$fontXG: 2.6rem;
$fontLG: 1.8rem;
$fontMD: 1.4rem;
$fontDefault: 1.2rem;
$fontSM: 0.8rem;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4)
)
