@import '../../../scss/index.scss';

.login-container {
  padding-bottom: 60px;
  .title {
    font-size: $fontDefault;
  }
}

.login-box {
  min-height: 360px;
}

.box-img {
  display: none;
  img{
    width: 100%;
  }
}

.form-group {
  height: 70px;
  .control-label {
    font-size: $fontSM;
    margin-bottom: 0;
  }
  .control-errors {
    display: flex;
    .text-danger {
      font-size: $fontSM;
      margin: 0;
    }
  }
}

button {
  font-size: $fontMD;
}

@include desktop {
  .login-container {
    padding-top: 60px;
    .title{
      font-size: $fontLG;
    }
  }
  .box-img {
    display: flex;
    justify-content: flex-end;
  }
}
